# git+https://github.com/Rapptz/discord.py
# git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/Gorialis/jishaku@master
git+https://github.com/Pycord-Development/pycord
asyncio
datetime
psutil
motor
qrcode
dateparser
pillow
tornado
pycountry
thefuzz[speedup]
pytz
dnspython
py-expression-eval