discord.py[voice]
asyncio
requests
datetime
psutil
motor
qrcode
pyzbar
PyDictionary
wordfreq
py_expression_eval
#discord-pretty-help
pymongo[tls,srv]
jishaku
dateparser
pillow
numpy
tornado
matplotlib
discord_components[button,interaction]
lxml
discord-together
udpy
translate
pycountry
blistpy
motionbotlist
topggpy
thefuzz[speedup]

pytz