git+https://github.com/Rapptz/discord.py
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/Gorialis/jishaku@master
asyncio
datetime
psutil
motor
qrcode
py_expression_eval
dateparser
pillow
tornado
pycountry
thefuzz[speedup]
pytz
dnspython